<html ng-app="myApp">
  <head>
    <title>Online Quiz(Admin)</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet"  href="style.css">
  </head>
<body ng-controller="myCtrl">
  <div class="container"><br><br>
	     <button id="button1" ng-click="ishidden=true">Create New Question:</button><br>

        
	       <form  name="myForm" id="form1" >
              <div ng-show="ishidden">

      			      <div class="col-md-12"><br>
              				  Question-Id:<input type="text" ng-model="qid" name="qid"size="5" required><br><br>
              					Question:<br><br>
                        <textarea row="4" cols="70" placeholder="Enter the question" name="ques" ng-model="ques" required></textarea><br><br><br>


      					  Answer(s):<br>
                  <div ng-click="result1(answerType)">
              				   <input type="radio"  ng-model="answerType" name="answerType" value="checkbox">Multipunch<br>
                   			 <input type="radio"  ng-model="answerType" name="answerType" value="radio">Singlepunch<br><br>
                   </div>



           			   <div ng-hide="addAnswerHide">
          	     			   <input type="text" ng-model="answer"  name="answer"required>
          	     			   <button ng-disabled="myForm.answer.$invalid"ng-click="addItem()" >Add Answer</button><br><br>
      	     			 </div>



      	     			<div  ng-show="editAnswershow"  >
                 			   <input type="text" ng-model="answer" ng-show="editAnswershow" name="answer"required>
                 			   <button ng-click="add()" ng-disabled="myForm.answer.$invalid" >Edit Answer</button>
                         <button ng-click="cancel()"ng-disabled="myForm.answer.$invalid" >Cancel</button><br><br>
           			  </div>
              </div>
  				
	       

                <div ng-hide="products.length==0">			
                  	<table border="1" >
                       			   		<tr>
                         			   			<th>Id</th>
                         			   			<th>Answer</th>
                         			   			<th>Edit</th>
                         			   			<th>Delete</th>
                                      <th>Selected Answer</th>
                       			   		</tr>
                       			   		<tr ng-repeat="x in products">
                         			   			<td>{{$index+1}}</td>
                         			   			<td>{{x}}</td>
                         			   			<td><button ng-click="edit($index)" >Edit</button></td>
                         			   		  <td><button ng-disabled="editAnswershow" ng-click="removeItem($index)" >Delete</button></td>

                                      <!-- <td><input type="{{answerType}}" name="multi1" ng-model="keys[$index]" ng-change="select(keys[$index],$index)" ng-value="true">{{keys[$index]}}</td> -->

                                      <td ng-show="showtype">
                                            <input type="checkbox" name="multi1" ng-model="correctResult[$index].res" >
                                       </td> 
                                      <td ng-hide="showtype">
                                          <input type="radio" name="multi1" ng-model="$parent.selectItem" required>
                                      </td> 
                                  </tr>
                    </table>
                              <div>{{storeResult()}}</div>
                              <div>{{toggleResult()}}</div>
                </div>

              	<h4 >{{errorText}}<h4><br>
              	
                <button ng-click="ishidden=false">Cancel</button>
               <button ng-click="create()" ng-disabled="myForm.qid.$invalid || myForm.ques.$invalid || myForm.answer.$invalid || '(products.length<2) '">Create</button>

    </form>
</div><br>
<p>{{Question_list|json}}<p>

<!--<table border=1>
  <tr>
    <th>Question_Id</th>
    <th>Question</th>
    <th>AnswerType</th>
    <th>Result<th>
  </tr>
  <tr>
  </tr>
</table>
-->

<script src="main.js">
</script>
</body>
</html>