<html ng-app="myApp">
  <head>
    <title>Online Quiz(Admin)</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet"  href="style.css">
  </head>
<body ng-controller="myCtrl">
  <div class="container"><br><br>
    <div class="header navbar navbar-fixed-top">
    <header>
          <h2 class="oq-heading">Online Quiz</h2>
    </header>
  </div>
<div class="row">
  <div class="col-sm-3">
    
        
        
          <div class="createNew">
            <button class="btn btn-primary" ng-click="createNewQ()" ng-show="createbutton">Create New Question</button><br>
            <button class="btn btn-primary" ng-click="createNewQ()" ng-hide="createbutton">Update New Question:</button><br>
          </div><!--/.nav-collapse -->

   
  </div>
  <div ng-view class="col-sm-4 view-content">
  </div>
</div>
       

<!--*******************Online Quiz Form*********************-->     
  
         <form  name="myForm" id="form1" >
              <div ng-show="ishidden">
                  <div class="col-md-12"><br>
                       Question-Id:<input type="text" ng-model="qid" name="qid"size="5" ng-disabled="true"><br><br>
                      
                        Question:<br><br>
                        <textarea row="4" cols="70" placeholder="Enter the question" name="ques" ng-model="ques" required></textarea>
                         <h5> <span ng-show="myForm.ques.$invalid" >Please enter something!</span></h5>
                        <br><br><br>
                  Answer Type:<br>
                  <div ng-click="result1(answerType)">
                      <input type="radio"  ng-model="answerType" name="answerType" value="MultiPunch">Multipunch<br>
                      <input type="radio"  ng-model="answerType" name="answerType" value="SinglePunch">Singlepunch<br><br>
                  </div>
                  <div ng-hide="addAnswerHide">
                      <input type="text" ng-model="answer"  name="answer"required>
                      <button ng-disabled="myForm.answer.$invalid"ng-click="addItem()" >Add Answer</button><br><br>
                  </div>
              </div>
          
<!--*********************Answer List Display in Table Foramt******************-->        

                <div ng-hide="products.length==0">  
                <h4>Answer(s) List</h4>    
                    <table border="1" >
                        <tr>
                          <th>Id</th>
                          <th>Answer</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>Selected Answer</th>          
                        </tr>
                        <tr ng-repeat="x in products">
                          <td>{{$index+1}}</td>
                          <td><span ng-show="answerShow($index)" >{{x}}</span>
                            <span  ng-hide="answerShow($index)"><input type="text" ng-model="x" name="x" required></span></td>
                          <td><span ng-show="answerShow($index)"><button ng-disabled="editDisabled" ng-click="edit($index,x)">Edit</button></span>
                              <span ng-hide="answerShow($index)"><button id="updatebutton" ng-click="update($index,x)" ng-disabled="x==null">Update</button></span>

                          </td>
                          <td><button  ng-disabled="correctResult[$index].isDelete" ng-click="removeItem($index)" >Delete</button></td>
                          <td ng-show="showtype">
                              <input type="checkbox" name="multi1" ng-model="correctResult[$index].res" >
                          </td> 
                          <td ng-hide="showtype">
                              <input type="radio" name="result" ng-model="$parent.selectItem" value="{{$index+1}}" required>
                          </td> 
                        </tr>
                    </table>
                             <h5 ng-show="error1">{{ErrorText1}}<h5><br>
                             <!-- <div>{{storeResult()}}</div>
                              <div>{{selectItem}}</div> -->
                </div>

                <h5 ng-show="errorShow">{{errorText}}</h5><br>
                <button ng-click="Reset_Form()" ng-disabled="false" ng-show="cancelcreate">Cancel</button>
                 <button ng-click="cancelList()" ng-disabled="false" ng-hide="cancelcreate">Cancel</button>
                <button ng-click="createQ_list()" ng-show="updatebutton" ng-disabled="myForm.ques.$invalid || (products.length<2)||(myForm.result.$invalid && storeResult()<1) ">Create</button>
                <button ng-click="updateList(qid)" ng-hide="updatebutton" ng-disabled="myForm.ques.$invalid || (products.length<2)||(myForm.result.$invalid && storeResult()<1) ">Update</button>
    </form>
</div><br>
 <!-- <p>{{$storage.Question_list|json}}<p> -->

<!--***************************Display Question-List in Table Format**********************-->
<div ng-show="$storage.Question_list.length>0">
  <h4>Question List</h4>

  <table >
    <tr>
      <th>QId</th>
      <th>Question</th>
      <th>AnswerType</th>
      <th>AnswerKey</th>
      <th>Result</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="Q_List in $storage.Question_list">
      <td>{{Q_List.Question_Id}}</td>
      <td>{{Q_List.Question}}</td>
      <td>{{Q_List.Answer_Type}}</td>
      <td>{{Q_List.Answer_key}}</td>
      <td>{{selectedResult(Q_List.Answer_Selected_Checkbox,Q_List.Answer_Selected_Radio)}}</td>
       <td><button ng-click="EditQList($index)">Edit</button></td>  
      <td><button ng-click="DeleteQList($index)" >Delete</button></td>
          
    </tr>
  </table>
</div>
<script src="main.js">
</script>
</body>
</html>